
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>PatroCars - Adicionar Modelo</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <!--<img src="/static/image/car_11376485.png" alt="Logo PatroCars" class="logo">-->
            <span class="system-name">PatroCars</span>
        </div>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/montadora/list">Montadoras</a></li>
                <li><a href="/modelo/list">Modelos</a></li>
                <li><a href="/veiculo/list">Veículos</a></li>
            </ul>
        </nav>
    </header>
    <form class="form" action="{% if modelo %}/modelo/update/{{ modelo.id }}{% else %}/modelo/create{% endif %}" method="post">
        <h1 class="title">Adicionar Modelo</h1>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{ modelo.nome if modelo else '' }}" required>
        <br>
        <label for="montadora_id">Montadora:</label>
        <select id="montadora_id" name="montadora_id" value="{{ modelo.montadora_id if modelo else '' }}" required>
            <option value="">Selecione uma Montadora</option>
            {% for montadora in montadoras %}
                <option value="{{ montadora.id }}"
                    {% if modelo and modelo.montadora_id == montadora.id %} selected {% endif %}>
                    {{ montadora.nome }}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="valor_referencia">Valor:</label>
        <input type="number" id="valor_referencia" name="valor_referencia" value="{{ modelo.valor_referencia if modelo else '' }}" required>
        <br>
        <label for="motorizacao">Motorização:</label>
        <input type="number" id="motorizacao" name="motorizacao" value="{{ modelo.motorizacao if modelo else '' }}" required>
        <br>
        <div class="checkbox-container">
            <label for="turbo">Turbo:</label>
            <input type="hidden" name="turbo" value="False">
            <input type="checkbox" id="turbo" name="turbo" value="True" {% if modelo and modelo.turbo %}checked{% endif %}>
        </div>
        <br>
        <div class="checkbox-container">
            <label for="automatico">Automático:</label>
            <input type="hidden" name="automatico" value="False">
            <input type="checkbox" id="automatico" name="automatico" value="True" {% if modelo and modelo.automatico %}checked{% endif %}>
        </div>
        <br>
        <button type="submit" class="create-button">{{ 'Salvar' if modelo else 'Adicionar' }}</button>
    </form>
</body>
</html>
