<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>PatroCars - Veículos</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <!--<img src="/static/image/car_11376485.png" alt="Logo PatroCars" class="logo">-->
            <span class="system-name">PatroCars</span>
        </div>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/montadora/list">Montadoras</a></li>
                <li><a href="/modelo/list">Modelos</a></li>
                <li><a href="/veiculo/list">Veículos</a></li>
            </ul>
        </nav>
    </header>
    <a href="/veiculo/form">Adicionar Veículo</a>

    <table>
        <thead>
            <tr>
                <!--<th>Id</th>-->
                <th>Modelo</th>
                <th>Cor</th>
                <th>Ano de Fabricação</th>
                <th>Ano do Modelo</th>
                <th>Valor</th>
                <th>Placa</th>
                <th>Vendido</th>
            </tr>
        </thead>
        <tbody>
            {% for veiculo in veiculos %}
            <tr>
                <!--<td>{{ veiculo.id }}</td>-->
                <td>{{ veiculo.modelo }}</td>
                <td>{{ veiculo.cor }}</td>
                <td>{{ veiculo.ano_fabricacao }}</td>
                <td>{{ veiculo.ano_modelo }}</td>
                <td>R$ {{ veiculo.valor | round(2) }}</td>
                <td>{{ veiculo.placa }}</td>
                <td>{{ "Sim" if veiculo.vendido else "Não"}}</td>
                <td>
                    <form action="/veiculo/form/{{ veiculo.id }}" method="get"  style="display: inline;">
                        <button type="submit" class="edit-button">Editar</button>
                    </form>
                    <form action="/veiculo/delete/{{ veiculo.id }}" method="post" style="display:inline;">
                        <button type="submit" class="delete-button" onclick="return confirm('Deseja realmente excluir este veículo?');">Excluir</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>      
    </table>
</body>
</html>